main {
  text-align: center;
}

body {
  background-color: #f7f7f7;
  

}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: 3px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 3px;
}

.prana {
  writing-mode: vertical-lr;
  position: fixed; left: 11px; top: 40px;
  letter-spacing: 4px;
  transition: all 400ms ease-in-out;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.prana:hover {
  letter-spacing: 15px;
  cursor: w-resize;
}

h4 {
  writing-mode: vertical-lr;
  position: relative;  right: 40px; top: 165px;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 14px
  
}



.demo {
  margin: 0 auto;
  width: 45%;
}

.box {
  position: relative; 
  height: 200px;
}

.box .leaf {
  position: absolute;
}

.leaf {
  margin-top: 400px;
  width: 300px;
  height: 300px;
  border-radius: 300px 0px;
  background: linear-gradient(45deg,  #d2f7fe 8%,#1c92d2 40%,#1c56d2 100%);
  opacity: 0.5;
  /* filter:alpha(opacity=50); */
  transform: rotate(45deg);
  transform-origin:  top right;
  
}
@keyframes show-2 {
   0% {
    transform: rotate(45deg);
   }
   30% , 60% {
    transform: rotate(71deg);
   }
   100% {
    transform: rotate(45deg);
   }
   
}
@keyframes show-3 {
   0% {
    transform: rotate(45deg);
   }
   30% , 60%  {
    transform: rotate(96deg);
   }
   100% {
    transform: rotate(45deg);
   }
}
@keyframes show-4 {
   0% {
    transform: rotate(45deg);
   }
   30% , 60%   {
    transform: rotate(123deg);
   }
   100% {
    transform: rotate(45deg);
   }
}
@keyframes show-5 {
   0% {
    transform: rotate(45deg);
   }
   30% , 60%  {
    transform: rotate(149deg);
   }
   100% {
    transform: rotate(45deg);
   }
}
@keyframes show-6 {
   0% {
    transform: rotate(45deg);
   }
   30% , 60% {
    transform: rotate(175deg);
   }
   100% {
    transform: rotate(45deg);
   }
}
@keyframes show-7 {
   0% {
    transform: rotate(45deg);
   }
   30% , 60%   {
    transform: rotate(200deg);
   }
   100% {
    transform: rotate(45deg);
   }
}
@keyframes show-8 {
   0% {
    transform: rotate(45deg);
   }
   30% , 60%  {
    transform: rotate(225deg);
   }
   100% {
    transform: rotate(45deg);
   }
}  




.leaf:nth-child(2) {
 animation: show-2 10s ease-in-out 1s infinite;
}
.leaf:nth-child(3) {
 animation: show-3 10s ease-in-out 1s infinite;
}
.leaf:nth-child(4) {
 animation: show-4 10s ease-in-out 1s infinite;
}
.leaf:nth-child(5) {
 animation: show-5 10s ease-in-out 1s infinite;
}
.leaf:nth-child(6) {
 animation: show-6 10s ease-in-out 1s infinite;
}
.leaf:nth-child(7) {
 animation: show-7 10s ease-in-out 1s infinite;
}
.leaf:nth-child(8) {
 animation: show-8 10s ease-in-out 1s infinite;
}

button {
  position: relative;
  margin-top: 300px;

}

.counter {
  padding: 30px;
  margin: 0 auto;
  margin-top: 80px;
  width: 100px;
  
  border: 2px solid rgb(65, 65, 65);
  border-radius: 5px;
  animation: slideInFromBottom 1s ease-out 0s 1 ;

}

@keyframes slideInFromBottom{
  0% {
    opacity: 0;
    display: none;
    transform: translateY(100%);
  }
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
    transform: translateY(0%);
  }
}

.breathe {
  display: block;
  letter-spacing: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12em;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 1em 0em 0em 0.2em;
  color: rgb(28, 28, 28);
  opacity: .65;
  font-weight: 100;
}

button {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: grey;
  margin-top: 400px;
  padding: 11px 22px;

  text-align: center;
  text-decoration: none;
  background-color: rgb(247, 247, 247);
  border-radius: 3px;
  animation: slideInFromBottom 10s ease-in 0s 1 ;

}

span {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: #1c56d2;
  cursor: w-resize;
}

br {
  padding: 100px;
}

img {
  vertical-align: middle;


}